{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}


<div class="container col s8" style="margin-top:5%; margin-left:10%;margin-bottom :10%; ">
    <div class="row">
        <nav>
            <div class="nav-wrapper" style="text-align: center">
                <div class="col s8">
                    <h3 class="brand-logo col s8">Please Register</h3>
                </div>
            </div>
        </nav>

    </div>
    <form class="col s12" method="POST">
        {% csrf_token %}
        <!--        <div class="row">-->
        <!--            <div class="input-field hoverable col s6">-->
        <!--                <i class="material-icons prefix">contacts</i>-->
        <!--                <input id="first_name" type="text" class="validate">-->
        <!--                <label for="first_name">First Name</label>-->
        <!--            </div>-->
        <!--            <div class="input-field hoverable col s6">-->
        <!--                <i class="material-icons prefix">contacts</i>-->
        <!--                <input id="last_name" type="text" class="validate">-->
        <!--                <label for="last_name">Last Name</label>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row">
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text" name='username' class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name='email' class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" type="password" name='password' class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">replay</i>
                <input id="password2" type="password" name='password_confirm' class="validate">
                <label for="password2">Retype Password</label>
            </div>
        </div>
        <div class='row large material-icons right'>
            <button type='submit' name='btn_login' class=' waves-effect waves-light btn right hoverable'>
                Register
            </button>
        </div>
        <!--        <a class="waves-effect waves-light btn right hoverable "><i-->
        <!--                class="large material-icons right">done</i>register</a>-->
    </form>
     <div class="">
                <div class="text-center text-muted py-2">
                    Already have an account??? <a class="text-muted ml-1" href="/login/"><b>login</b></a>
                </div>
            </div>
    <hr>

</div>

<script>
  var password = document.getElementById("password"),
  password2 = document.getElementById("password2");

function validatePassword(){
  if(password.value != password2.value) {
    password2.setCustomValidity("Passwords Don't Match");
  } else {
    password2.setCustomValidity('');
  }
}
password2.setCustomValidity('');
password.onchange = validatePassword;
password2.onkeydown = validatePassword;

</script>
{% endblock %}