{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}
<div class="main-container">
<div class="container1">


    <div>

        <div class="head-title">
            <span>New Message</span>
        </div>
        <br>


        <form enctype="multipart/form-data" method="POST">

            {% csrf_token %}
            <!--                <div>-->
            <!--                    Sending From:-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                    {{ request.user.email}}-->
            <!--                </div>-->

            <!--                <div style="padding-bottom:2.5%">-->
            <!--                    <label for="sending_to" class=" requiredField">-->


            <!--                        <span class="asteriskField"></span> </label>-->
            <!--                    <input type="email" name="email1" maxlength="150" autofocus=""-->
            <!--                           class="textinput textInput form-control is-invalid" required="" id="sending_to"-->
            <!--                           placeholder="Sending to"-->
            <!--                    >-->
            <!--                </div>-->
            <!--                <div style="padding-bottom:2.5%">-->


            <!--                    <label for="subject" class=" requiredField">-->
            <!--                        <span class="asteriskField"></span> </label>-->
            <!--                    <input type="text" name="subject" maxlength="150" autofocus=""-->
            <!--                           class="textinput textInput form-control is-invalid" required="" id="subject"-->
            <!--                           placeholder="Subject">-->

            <!--                </div>-->

            <!--                <div style="padding-bottom:2.5% ">-->


            <!--                    &lt;!&ndash;                    <label for="message" class=" requiredField">&ndash;&gt;-->
            <!--                    &lt;!&ndash;                        <span class="asteriskField"></span> </label>&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    <input type="text" name="message" autofocus=""&ndash;&gt;-->
            <!--                    &lt;!&ndash;                           class="textinput textInput form-control is-invalid" required="" id="message"&ndash;&gt;-->
            <!--                    &lt;!&ndash;                           placeholder="Message">&ndash;&gt;-->
            <!--&lt;!&ndash;                    <textarea rows="5" cols="50" name="message">&ndash;&gt;-->

            <!--&lt;!&ndash;Enter text here...</textarea>&ndash;&gt;-->


            <div class="row">
                <div class="col-25">

                </div>
                <div class="col-75">
                    <input class="input-box" type="text" id="fname" name="email" placeholder="To">
                </div>
            </div>
            <div class="row">
                <div class="col-25">

                </div>
                <div class="col-75">
                    <input class="input-box" type="text" id="lname" name="subject" placeholder="Subject">
                </div>
            </div>

            <div class="row">
                <div class="col-25">

                </div>
                <div class="col-75">
                                <textarea class="input-box" id="message" name="message" placeholder="type you message..."
                                          style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Sent">
            </div>


<!--            <div style="padding-top:3%">-->
<!--                <input type="submit" name="save" value="Sent" class="btn btn-primary btn-block mt-5"-->
<!--                       id="submit-id-save">-->
<!--            </div>-->
        </form>
        <hr>


    </div>
</div>

</div>
{% endblock %}
