{% extends 'accounts/base.html' %}

{% block body_block %}
<div class="container" style="width:60%; margin-top:15%;">
    <div class="jumbotron">

        <div class="card-header text-center">
            <p class="text-muted" style="background:#F7F7F7">Send Your Mail</p>
        </div>

        <div>


            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div style="padding-bottom:2.5%">
                    <label for="sending_to" class=" requiredField">


                        <span class="asteriskField"></span> </label>
                    <input type="email" name="email" maxlength="150" autofocus=""
                           class="textinput textInput form-control is-invalid" required="" id="sending_to"
                           placeholder="Sending to"
                    >
                </div>
                <div style="padding-bottom:2.5%">


                    <label for="subject" class=" requiredField">
                        <span class="asteriskField"></span> </label>
                    <input type="text" name="subject" maxlength="150" autofocus=""
                           class="textinput textInput form-control is-invalid" required="" id="subject"
                           placeholder="Subject">

                </div>

                <div style="padding-bottom:2.5%">


                    <label for="message" class=" requiredField">
                        <span class="asteriskField"></span> </label>
                    <input type="text" name="message" maxlength="150" autofocus=""
                           class="textinput textInput form-control is-invalid" required="" id="message"
                           placeholder="Message">

                </div>
                <div style="padding-top:3%">
                    <input type="submit" name="save" value="Sent" class="btn btn-primary btn-block mt-5"
                           id="submit-id-save">
                </div>
            </form>
            <hr>


        </div>
    </div>
</div>


{% endblock %}
