{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}



{% for inbox in Mails %}


<!--         <p>sender username: {{ inbox.sender_user.username}} </p>-->
<!--    <p>sender mail: {{ inbox.sender_user.email}} </p>-->
<!--    <p>subeject: {{ inbox.subject}} </p>-->
<!--    <p>message: {{ inbox.message}} </p>-->
<!--    &lt;!&ndash;         <p>{{ inbox.receiver.username}} </p>&ndash;&gt;-->
<!--    <p>receiver mail: {{ inbox.receiver.email}} </p>-->
<!--    <p>{{ inbox.created_date}} </p>-->
<!--<div class="container4">-->
<!--    <div class="row">-->
<!--        <div class="col s4">{{ inbox.sender_user.username}}</div>-->
<!--        <div class="col s4">{{ inbox.subject}}</div>-->
<!--        <div class="col s4  ">{{ inbox.created_date}}</div>-->


<!--    </div>-->
<!--</div>-->


{% endfor %}


    <h2>Inbox</h2>
    <table class="table table-hover table-sm">

        <tbody>

{% for inbox in Mails %}



        <tr>


            <th scope="row"></th>



            <td scope="col"> <a href="{{ inbox.id}}" class="linkNoColor" >    {{ inbox.sender_user.username}}</a> </td>
            <td scope="col"> <a href="mails/{{ inbox.id}}"  class="linkNoColor" >  {{ inbox.subject}} </a> </td>
            <td scope="col"> <a href="mails/{{ inbox.id}}" class="linkNoColor" > {{ inbox.created_date}} </a> </td>


        </tr>



{% endfor %}
        </tbody>
    </table>

{% endblock %}
