{% extends 'accounts/base.html' %}

{% block body_block %}


<h2>Inbox</h2>
{% for inbox in Mails %}


    <!--         <p>sender username: {{ inbox.sender_user.username}} </p>-->
    <!--    <p>sender mail: {{ inbox.sender_user.email}} </p>-->
    <!--    <p>subeject: {{ inbox.subject}} </p>-->
    <!--    <p>message: {{ inbox.message}} </p>-->
    <!--    &lt;!&ndash;         <p>{{ inbox.receiver.username}} </p>&ndash;&gt;-->
    <!--    <p>receiver mail: {{ inbox.receiver.email}} </p>-->
    <!--    <p>{{ inbox.created_date}} </p>-->
     <div  class="container4">
     <div class="row">
      <div class="col s4">{{ inbox.sender_user.username}}</div>
      <div class="col s4">{{ inbox.subject}}</div>
      <div class="col s4">{{ inbox.message}}</div>


    </div>
     </div>

{% endfor %}


{% endblock %}
