{% extends 'accounts/base.html' %}

{% block body_block %}



    <div class="jumbotron">

        <h2>Sent</h2>
        {% for inbox in Mails %}
        <div class="jumbotron" style="padding-bottom:2.5%">
        <h3>Details:</h3>
<!--         <p>sender username: {{ inbox.sender_user.username}} </p>-->
           <p>sender mail: {{ inbox.sender_user.email}} </p>
         <p>subeject: {{ inbox.subject}} </p>
         <p>message: {{ inbox.message}} </p>
<!--         <p>{{ inbox.receiver.username}} </p>-->
         <p>receiver mail: {{ inbox.receiver.email}} </p>
        <p>{{ inbox.created_date}} </p>
         </div>


        {% endfor %}



    </div>




{% endblock %}
